.App {
 text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding: 10px;
}

.sss {
    transform: translateX(-95%);
    transition: 1s;
    position: fixed;
    background-color: skyblue;
    width: 200px;
    height: 200px;
    border-radius: 0 10px 10px 0;
}
.sss:hover{
    transform: translateX(0%);
    transition: 1s;
}

.menu {
    position: absolute;
    top: -28px;
    left: 150px;
}
.active{
    color: gold;
}