.messageArea {
    color: white;
    background-color: #66bf3c;
}

.startStyle {
    background-color: aquamarine;
    color: darkgrey;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.error {
    background-color: red;
    color: black;
}
